<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<link rel="stylesheet" href="/stylesheets/w3.css">
<link href="//db.onlinewebfonts.com/c/f3258385782c4c96aa24fe8b5d5f9782?family=Old+English+Text+MT" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="/stylesheets/game.css">

<body oncontextmenu="return false;">
<script src="/pixi/pixi.min.js"></script>
<script src="/pixi_extras/graphics-extras.min.js"></script>
<script src="/pixi_viewport/viewport.min.js"></script>
<script src="/socket.io-client/socket.io.js"></script>
<script type="module" src="javascripts/ClientSocket.js"></script>
<script type="module" src="javascripts/game_graphics/Node.js"></script>
<script type="module" src="javascripts/game_graphics/Pixi.js"></script>
<script type="module" src="javascripts/game_graphics/Unit/Unit.js"></script>
<script type="module" src="javascripts/bottom_menu.js"></script>

<div class="w3-blue-grey" id="bottom_menu" style="visibility: hidden; position: absolute; bottom: 0; width: 30%; height: auto">
    <div class="w3-row">
        <div class="w3-col m5 l5 w3-card">
            <h2 class="w3-center w3-wide" id="city_name">Prague</h2>
            <p style="padding:16px">Food: <span id="food_per_a_minute"></span> <br>
                Wood: <span id="population_growth_in">50</span> <br>
                Gold: <span id="production_per_a_minute"></span> <br>
            </p>
        </div>

        <div class="w3-rest w3-card" style="padding-left: 5px" >
            <div class="w3-row" id="production_menu">
                <div class="w3-col m6 l6 w3-center">
                    <h5>Production</h5>
                    <span id="city_id" style="visibility: hidden"></span>
                </div>
            </div>

            <div class="w3-row" id="warrior">
                <div class="w3-col" style="width:60px">
                    <div class="w3-center w3-border">
                        <img src="/images/helmet.png" class="w3-card w3-center" style="width: 50px">
                    </div>
                </div>
                <div class="w3-col w3-border" style="width:60px">
                    <div class="w3-col" style="width:60px">
                        <div class="w3-center w3-border">
                            <img src="/images/helmet.png" class="w3-card w3-center" style="width: 50px">
                        </div>
                    </div>
                </div>
                <div class="w3-col w3-border" style="width:60px">
                    <div class="w3-col" style="width:60px">
                        <div class="w3-center w3-border">
                            <img src="/images/helmet.png" class="w3-card w3-center" style="width: 50px">
                        </div>
                    </div>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col" style="width:60px">
                    <div class="w3-col" style="width:60px">
                        <div class="w3-center w3-border">
                            <img src="/images/helmet.png" class="w3-card w3-center" style="width: 50px">
                        </div>
                    </div>
                </div>
                <div class="w3-col" style="width:60px">
                    <div class="w3-col" style="width:60px">
                        <div class="w3-center w3-border">
                            <img src="/images/helmet.png" class="w3-card w3-center" style="width: 50px">
                        </div>
                    </div>
                </div>
                <div class="w3-col" style="width:60px">
                    <div class="w3-col" style="width:60px">
                        <div class="w3-center w3-border">
                            <img src="/images/helmet.png" class="w3-card w3-center" style="width: 50px">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>