<!doctype html>
<html lang="en">
<link rel="stylesheet" href="/stylesheets/style.css">

<body>

<script src="/pixi/pixi.min.js"></script>
<script src="/pixi_extras/graphics-extras.min.js"></script>
<script src="/pixi_viewport/viewport.min.js"></script>
<script src="/socket.io-client/socket.io.js"></script>
<script src="/javascripts/client_socket.js"></script>
<script type="module" src="/javascripts/game_graphics/Node.js"></script>
<script type="module" src="/javascripts/game_graphics/Pixi.js"></script>
</body>
</html>