<!DOCTYPE html>
<html lang="en">

<head>
    <title>HEXAN</title>

    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    <link rel="stylesheet" href="/stylesheets/w3.css">
    <script src="/pixi/pixi.min.js"></script>
    <script src="/pixi_extras/graphics-extras.min.js"></script>
    <script src="/pixi_viewport/viewport.min.js"></script>
    <script src="/socket.io-client/socket.io.js"></script>
    <script type="module" src="/javascripts/game_graphics/Pixi.js"></script>
    <script type="module" src="/javascripts/client_create_game.js"></script>
    <script type="module" src="/javascripts/ClientSocket.js"></script>
    <script type="module" src="/javascripts/game_graphics/Node.js"></script>
    <script type="module" src="/javascripts/game_graphics/Unit/Unit.js"></script>
    <script type="module" src="/javascripts/bottom_menu.js"></script>
</head>

<body id="app">

<div class="form__group">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <div style="top:50px; position: absolute">
        <h2>Game mode</h2>
        <button id="game_mode_to_1v1_button" class="w3-button w3-round-xxlarge w3-green w3-large">1v1</button>
        <button id="game_mode_to_2v2_button" class="w3-button w3-round-xxlarge w3-red w3-large">2v2</button>
        <button id="game_mode_to_AI_button" class="w3-button w3-round-xxlarge w3-red w3-large">AI</button>
    </div>
    <div class="title">HEXAN</div>
    <input type="text" class="form__input" id="nick_input" placeholder="nickname"/>
    <label for="nick_input" class="form__label">Press enter to play</label>
</div>
</body>

</html>