<!DOCTYPE html>
<html lang="en">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link rel="stylesheet" href="/stylesheets/index.css">
<head>
    <meta charset="UTF-8">
    <title>HEXAN</title>
</head>
<body>

<div class="form__group">
    <div class="title">HEXAN</div>
    <input type="text" class="form__input" id="nick_input" placeholder="nickname"/>
    <label for="nick_input" class="form__label">Press enter to play</label>
</div>
</body>
<script src="/socket.io-client/socket.io.js"></script>
<script type="module" src="/javascripts/client_create_game.js"></script>
</html>